* {
    box-sizing: border-box;
    color: #2d2d2d;
    font-family: 'Raleway', Open-Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='72' height='36' viewBox='0 0 72 36'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.11' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.11'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237b8f8d'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237b8f8d'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='72' height='36'/%3E%3Crect fill='url(%23b)' width='72' height='36'/%3E%3Crect fill='url(%23c)' width='72' height='36'/%3E%3Crect fill='url(%23d)' width='72' height='36'/%3E%3Crect fill='url(%23e)' width='72' height='36'/%3E%3Crect fill='url(%23f)' width='72' height='36'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #444;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    height: 100px;
}

a {
    color: #7b8f8d;
    text-decoration: none;
}

header nav a:hover {
    background-color: #f4f4f5;
    color: #2d2d2d;
    cursor: pointer;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
}

hr {
    border: none;
    height: 20px;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 5px 5px -10px #333;
    margin: 50px;
    width: 80%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

footer {
    background-color: #444;
    border-radius: 0 0 3px 3px;
    font-family: 'Dawning of a New Day', cursive;
    height: 75px;
}

article h2 {
    font-weight: bold;
}

/*change color of highlighted text*/
p::selection {
    background-color: rgba(123, 143, 141, .3);
}

li::selection {
    background-color: rgba(123, 143, 141, .3);
}

/**********CLASS & ID STYLES**********/

.wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    min-height: 100vh;
    max-width: 80vw;
    padding: 20px;
}

/*HAMBURGER MENU*/
#hamburger {
    display: none;
}

#menu-button {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 3px;
    z-index: 200;
}

#menu-button:after {
    position: absolute;
    content: "☰";
    font-size: 42px;
    color: #2d2d2d;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#menu-button:hover {
    opacity: .8;
}

#menu-button.on:after {
    content: "x";
}

#overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
}

#overlay.open {
    display: block;
}

#hamburger-menu {
    height: 0;
    width: 0;
    background-color: #fff;
    position: fixed;
    top: 20px;
    left: 90px;
    z-index: 101;
    overflow: hidden;
    border-radius: 3px;
}

#hamburger-menu nav {
    padding: 10px;
    z-index: 101;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hamburger-menu nav a {
    display: block;
    padding: 10px;
    /*  height: 1em;*/
    color: #2d2d2d;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    overflow: hidden;
}

#hamburger-menu nav a:hover {
    cursor: pointer;
    color: #FFF;
    background: rgba(255, 255, 255, 0.02);
}

/*END HAMBURGER MENU*/

/*SCROLL TO TOP BUTTON*/

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#top:hover i {
    color: #fff;
    top: 5px;
}

/************MAIN NAV************/
a,
a>span {
    position: relative;
    text-decoration: none;
    line-height: 24px;
}

a:before,
a:after,
a>span:before,
a>span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.effect-2 {
    padding: 10px;
}

.effect-2:before,
.effect-2:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #7b8f8d;
}

.effect-2:before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
}

.effect-2:after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
}

.effect-2:hover:before,
.effect-2:hover:after {
    transform: scale(1, 1);
}

header .navigation {
    display: inline;
    margin-left: auto;
}

.navigation ul {
    float: right;
    margin-top: 30px;
}

.navigation li {
    color: #fff;
    display: inline;
    padding: 1px 3px 1px 0;
}

.navigation a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.logo {
    color: #fff;
    display: inline;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 45px;
    /*    padding: 20px;*/
    text-align: left;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto 20px auto;
    padding: 20px;
    width: 90%;
}

.intro {
    padding: 10px 20px;
}

.intro img {
    display: none;
}

.card.intro ul {
    padding-left: 0;
}

.intro li {
    padding: 10px;
}

.flex-container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}

.flex-container .center {
    width: 220px;
    margin: 10px;
}

.center {
    text-align: center;
}

.inline {
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

figure img {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.heroImage img {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/* HOMEPAGE STYLES */
.heroImage figure {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.inline {
    display: inline;
}

.careers {
    margin: 0 auto;
    width: 90%
}

.careers .flex-container {
    justify-content: flex-start;
    width: 100%;
}

.about {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    /* width: 45%; */
}

.about h3 {
    text-align: left;
}

.about h4 {
    color: #7b8f8d;

}

/* TYPEWRITER */

.typewriter-text {
    background-color: #7b8f8d;
    color: #fff;
    font-size: 15px;
    letter-spacing: .15em;
}

.typewriter-cursor {
    border-right: 4px solid orange;
    animation: blink-caret .8s step-end infinite
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

/**************ACCORDION*************/
#widgets {
    margin: 0 auto 20px auto;
    width: 90%;
}

#widgets h3 {
    font-size: 20px;
}

.ui-icon {
    display: none;
}

.ui-accordion .ui-accordion-header {
    padding-left: 30px;
    text-align: left;
}

.ui-widget {
    font-size: 16px;
}

.ui-widget-content a {
    color: #7b8f8d;
    text-decoration: underline;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: none;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/************ PROJECTS STYLES **********/
#tabs {
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto 20px auto;
    padding: 20px;
    width: 90%;
}

#tabs h3 {
    text-align: left;
}

.responsive {
    max-width: 100%;
    height: auto;
}

#tabs .card {
    margin: auto auto 10px auto;
    width: 100%
}

#hisglass img {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    margin: 0 20px 0 0;
    vertical-align: top;
}


/**************CONTACT STYLES**************/
#contact {
    margin: 0 auto;
    width: 90%;
}

.contact {
    background-color: rgba(255, 255, 255, 0.3);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
    padding: 1.5em;
    width: 100%;
}

.contact .card {
    padding: 10px;
    width: 250px;
}

.card h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin-left: 10px;
}

.card a:hover {
    text-decoration: underline;
}



/***************CONTACT FORM**************/
.contact-form {
    background-color: rgba(255, 255, 255, 0.3);
    /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237b8f8d' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    border-radius: 3px;
    margin: 15px 0 10px 0;
    padding: 2em;
}

.contact-form input {
    border-radius: 3px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

textarea {
    border-radius: 3px;
    font-size: 16px;
    height: 8em;
    margin-bottom: 10px;
    padding: 1em;
    width: 100%;
}

input:invalid {
    color: #f00;
}

input[type="email"] {
    border-left: 2px solid #ff0000;
}

input:required:focus {
    border: 1px solid red;
    outline: none;
}

textarea {
    border-left: 2px solid #ff0000;
}

textarea:focus {
    border: 1px solid red;
    outline: none;
}

/***********FOOTER NAV**********/
footer a {
    color: #fff;
    float: left;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 20px;
    padding: 14px 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

/***********MEDIA QUERIES***********/
@media screen and (max-width: 1080px) {
    #hamburger {
        display: block;
        float: right;
    }

    #main-nav {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    .card.intro ul {
        padding-left: 0;
    }

    hr {
        border-bottom: none;
        height: 0;
    }

}

@media screen and (max-width: 830px) {}

@media screen and (max-width: 600px) {

    .logo {
        display: none;
    }

    .intro img {
        display: block;
    }

    .icon {
        border: none;
    }

    .icon h2 {
        display: none;
    }

    footer img {
        display: none;
    }

    footer .icon {
        display: none;
    }

    .fa {
        color: #fff;
    }

}