/* Styles go here */
div {
  margin-bottom: 5px;
}

button {
  background-color: #7b8f8d;
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
}

#changeTodoPositionInput {
  width: 25px;
}

#deleteTodoPositionInput {
  width: 25px;
}

#toggleCompletedPositionInput {
  width: 25px;
}

li button {
  margin-left: 5px;
}